body {
    background-color: #b3ffff;
}

h1 {
  color: #0066ff;
  text-align: center;
  text-shadow:2px 2px #ff0000;
}

h2 {
  color: #00b3b3;
  font-style: bold;
  text-align: center;
  font-family: cursive;
}

h3 {
  color: black;
  font-style: bold;
  text-align: center;
}

p {
  font-family: serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

img {
  width: 80%;
}
