body {
    background-color: #b3ffff;
}

h1 {
  color: #0066ff;
  text-align: center;
  text-shadow:2px 2px #ff0000;
}

h2 {
  color: #00b3b3;
  font-style: bold;
  text-align: center;
  font-family: cursive;
}

h3 {
  font-family: fantasy;
  font-stretch: expanded;
}

p {
  font-family: serif;
}

img {
  width: 40%;
  float: center;
  border: 3px solid gold;
}
