body {
    background-color: silver;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  color: red;
  font-style: bold;
  text-align: center;
}

h3 {
  color: black;
  font-style: bold;
  text-align: left;
}

p {
  font-family: serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

img {
  width: 80%;
}
